In [1]:
import pandas as pd

### I got one data set from https://think.cs.vt.edu/corgis/csv/billionaires/

In [2]:
raw_data = pd.read_csv("C:\\Users\\Magic\\Documents\\data analyst dataset\\billionaires.csv")
print(raw_data.head(5))

             name  rank  year  company.founded        company.name  \
0      Bill Gates     1  1996             1975           Microsoft
1      Bill Gates     1  2001             1975           Microsoft
2      Bill Gates     1  2014             1975           Microsoft
3  Warren Buffett     2  1996             1962  Berkshire Hathaway
4  Warren Buffett     2  2001             1962  Berkshire Hathaway

  company.relationship company.sector company.type  demographics.age  \
0              founder       Software          new                40
1              founder       Software          new                45
2              founder       Software          new                58
3              founder        Finance          new                65
4              founder        Finance          new                70

  demographics.gender  ...  location.gdp location.region          wealth.type  \
0                male  ...  8.100000e+12   North America  founder non-finance
1                male  ...  1.060000e+13   North America  founder non-finance
2                male  ...  0.000000e+00   North America  founder non-finance
3                male  ...  8.100000e+12   North America  founder non-finance
4                male  ...  1.060000e+13   North America  founder non-finance

  wealth.worth in billions wealth.how.category  wealth.how.from emerging  \
0                     18.5         New Sectors                      True
1                     58.7         New Sectors                      True
2                     76.0         New Sectors                      True
3                     15.0      Traded Sectors                      True
4                     32.3      Traded Sectors                      True

   wealth.how.industry  wealth.how.inherited wealth.how.was founder  \
0  Technology-Computer         not inherited                   True
1  Technology-Computer         not inherited                   True
2  Technology-Computer         not inherited                   True
3             Consumer         not inherited                   True
4             Consumer         not inherited                   True

  wealth.how.was political
0                     True
1                     True
2                     True
3                     True
4                     True

[5 rows x 22 columns]

In [3]:
print(len(raw_data))

2614


# Lets analys the data 
#### data column header is too big. If we reduce size we may see clearly.

### lets shorform long headers with short length column
* company.founded = CF
* company.relationship = CR
* company.sector = CS
* company.type = CT
* demographics.age = DA
* demographics.gender = DG
* location.citizenship = LC
* location.country code = LCC
* wealth.worth in billions =WWIB
* wealth.how.category = WHC
* wealth.how.from emerging = WHFE
* wealth.how.inherited = WHI
* wealth.how.was founder = WHWF
* wealth.how.was political = WHWP

In [4]:
raw_data.rename(columns = {'company.founded':'CF', 'company.relationship':'CR', 'company.type':'CT', 'demographics.age':'DA', 'demographics.gender':'DG', 'company.sector':'CS',
                           'wealth.worth in billions':'WWIB', 'wealth.how.category':'WHC', 'wealth.how.from emerging':'WHFE', 'wealth.how.inherited':'WHI', 'location.citizenship':'LC',
                           'wealth.how.was founder':'WHWF', 'wealth.how.was political':'WHWP', 'location.country code':'LCC' }, inplace = True)

In [5]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)

print(raw_data.head(5))

        name       rank  year   CF      company.name       CR        CS      CT   DA   DG        LC       LCC   location.gdp location.region     wealth.type       WWIB       WHC        WHFE wealth.how.industry       WHI        WHWF  WHWP
0      Bill Gates    1   1996  1975           Microsoft  founder   Software  new  40  male  United States  USA    8.100e+12    North America  founder non-finance  18.5     New Sectors  True  Technology-Computer  not inherited  True  True
1      Bill Gates    1   2001  1975           Microsoft  founder   Software  new  45  male  United States  USA    1.060e+13    North America  founder non-finance  58.7     New Sectors  True  Technology-Computer  not inherited  True  True
2      Bill Gates    1   2014  1975           Microsoft  founder   Software  new  58  male  United States  USA    0.000e+00    North America  founder non-finance  76.0     New Sectors  True  Technology-Computer  not inherited  True  True
3  Warren Buffett    2   1996  1962  Berkshire Hathaway  founder    Finance  new  65  male  United States  USA    8.100e+12    North America  founder non-finance  15.0  Traded Sectors  True             Consumer  not inherited  True  True
4  Warren Buffett    2   2001  1962  Berkshire Hathaway  founder    Finance  new  70  male  United States  USA    1.060e+13    North America  founder non-finance  32.3  Traded Sectors  True             Consumer  not inherited  True  True

### Lets remove unwanted column

In [6]:
halfcleaned_data= raw_data.drop(['LCC', 'WHFE', 'location.gdp', 'location.region', 'WHWF', 'WHWP', 'WHC', 'CT', 'WHI', 'wealth.how.industry'], axis=1)
print(halfcleaned_data.head(20))

                  name                rank  year   CF          company.name                CR                        CS                 DA   DG        LC              wealth.type         WWIB
0                         Bill Gates    1   1996  1975                   Microsoft           founder                          Software  40  male  United States       founder non-finance  18.5
1                         Bill Gates    1   2001  1975                   Microsoft           founder                          Software  45  male  United States       founder non-finance  58.7
2                         Bill Gates    1   2014  1975                   Microsoft           founder                          Software  58  male  United States       founder non-finance  76.0
3                     Warren Buffett    2   1996  1962          Berkshire Hathaway           founder                           Finance  65  male  United States       founder non-finance  15.0
4                     Warren Buffett    2   2001  1962          Berkshire Hathaway           founder                           Finance  70  male  United States       founder non-finance  32.3
5                   Carlos Slim Helu    2   2014  1990                      Telmex           founder                    Communications  74  male         Mexico  privatized and resources  72.0
6            Oeri Hoffman and Sacher    3   1996  1896        F. Hoffmann-La Roche               NaN                   pharmaceuticals   0   NaN    Switzerland                 inherited  13.1
7                         Paul Allen    3   2001  1975                   Microsoft           founder                        technology  48  male  United States       founder non-finance  30.4
8                     Amancio Ortega    3   2014  1975                        Zara           founder                           Fashion  77  male          Spain       founder non-finance  64.0
9                       Lee Shau Kee    4   1996  1976  Henderson Land Development  founder/chairman                       real estate  68  male      Hong Kong         self-made finance  12.7
10                     Larry Ellison    4   2001  1977                      Oracle           founder                          software  56  male  United States       founder non-finance  26.0
11                    Warren Buffett    4   2014  1839          Berkshire Hathaway           founder                           Finance  83  male  United States       founder non-finance  58.2
12                      Tsai Wan-lin    5   1996  1962              Lin Yuan Group           founder             banking and insurance  71  male         Taiwan         self-made finance  12.2
13            Theo and Karl Albrecht    5   2001  1913                        Aldi           founder                         groceries   0  male        Germany       founder non-finance  25.0
14                     Larry Ellison    5   2014  1977                      Oracle           founder                          software  69  male  United States       founder non-finance  48.0
15    Walter Thomas and Raymond Kwok    6   1996  1963     Sun Hung Kai Properties          Relation                       real estate   0  male      Hong Kong                 inherited  11.2
16  Prince Alwaleed Bin Talal Alsaud    6   2001  1980     Kingdom Holding Company           founder  construction/real estate/banking  44  male   Saudi Arabia  privatized and resources  20.0
17                      Charles Koch    6   2014  1940             Koch industries          relation                      Oil refining  78  male  United States                 inherited  40.0
18                        David Koch    6   2014  1940             Koch industries          relation                      Oil refining  73  male  United States                 inherited  40.0
19                       Li Ka-shing    7   1996  1971                 Cheung king           founder                       real estate  67  male      Hong Kong         self-made finance  10.6

### lets remove row with with dupplicate name

In [7]:
print(len(halfcleaned_data[halfcleaned_data.duplicated('name')]))

537

In [8]:
filter_data = halfcleaned_data.drop_duplicates(['name'], keep='last')

In [9]:
print(len(filter_data))

2077

In [10]:
print(filter_data)

               name            rank  year   CF            company.name               CR             CS          DA    DG          LC              wealth.type         WWIB
2                  Bill Gates     1  2014  1975                        Microsoft   founder            Software  58    male   United States       founder non-finance  76.0
6     Oeri Hoffman and Sacher     3  1996  1896             F. Hoffmann-La Roche       NaN     pharmaceuticals   0     NaN     Switzerland                 inherited  13.1
11             Warren Buffett     4  2014  1839               Berkshire Hathaway   founder             Finance  83    male   United States       founder non-finance  58.2
24     Theo and Karl Albrecht     9  1996  1913                        Aldi Nord  Relation           groceries   0    male         Germany                 inherited   9.0
26             Christy Walton     9  2014  1962                          Walmart  relation              retail  59  female   United States                 inherited  36.7
...                       ...   ...   ...   ...                              ...       ...                 ...  ..     ...             ...                       ...   ...
2609              Wu Chung-Yi  1565  2014  1991                           Tingyi  investor  beverages and food  55    male          Taiwan                 executive   1.0
2610                 Wu Xiong  1565  2014  1999  Biostime International Holdings     owner      infant formula   0    male           China                 executive   1.0
2611                Yang Keng  1565  2014     0                    Blue Ray Corp  chairman         real estate  53    male           China         self-made finance   1.0
2612            Zdenek Bakala  1565  2014  1994                   Patria Finance   founder                coal  53    male  Czech Republic  privatized and resources   1.0
2613              Zhu Wenchen  1565  2014  1999       Furen Pharmaceutical Group  chairman     pharmaceuticals  48    male           China                 executive   1.0

[2077 rows x 12 columns]

In [11]:
filter_data['Rank'] = range(1, 2077 + 1 ,1)
filter_data

C:\Users\Magic\AppData\Local\Temp\ipykernel_1120\2639161257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data['Rank'] = range(1, 2077 + 1 ,1)

               name            rank  year   CF            company.name               CR             CS          DA    DG          LC              wealth.type         WWIB  Rank
2                  Bill Gates     1  2014  1975                        Microsoft   founder            Software  58    male   United States       founder non-finance  76.0     1
6     Oeri Hoffman and Sacher     3  1996  1896             F. Hoffmann-La Roche       NaN     pharmaceuticals   0     NaN     Switzerland                 inherited  13.1     2
11             Warren Buffett     4  2014  1839               Berkshire Hathaway   founder             Finance  83    male   United States       founder non-finance  58.2     3
24     Theo and Karl Albrecht     9  1996  1913                        Aldi Nord  Relation           groceries   0    male         Germany                 inherited   9.0     4
26             Christy Walton     9  2014  1962                          Walmart  relation              retail  59  female   United States                 inherited  36.7     5
...                       ...   ...   ...   ...                              ...       ...                 ...  ..     ...             ...                       ...   ...   ...
2609              Wu Chung-Yi  1565  2014  1991                           Tingyi  investor  beverages and food  55    male          Taiwan                 executive   1.0  2073
2610                 Wu Xiong  1565  2014  1999  Biostime International Holdings     owner      infant formula   0    male           China                 executive   1.0  2074
2611                Yang Keng  1565  2014     0                    Blue Ray Corp  chairman         real estate  53    male           China         self-made finance   1.0  2075
2612            Zdenek Bakala  1565  2014  1994                   Patria Finance   founder                coal  53    male  Czech Republic  privatized and resources   1.0  2076
2613              Zhu Wenchen  1565  2014  1999       Furen Pharmaceutical Group  chairman     pharmaceuticals  48    male           China                 executive   1.0  2077

[2077 rows x 13 columns]

In [12]:
clean_data = filter_data.drop(['rank'], axis=1)

In [13]:
clean_data.set_index(['Rank'], inplace = True)
clean_data

               name            year   CF            company.name               CR             CS          DA    DG          LC              wealth.type         WWIB
Rank
1                  Bill Gates  2014  1975                        Microsoft   founder            Software  58    male   United States       founder non-finance  76.0
2     Oeri Hoffman and Sacher  1996  1896             F. Hoffmann-La Roche       NaN     pharmaceuticals   0     NaN     Switzerland                 inherited  13.1
3              Warren Buffett  2014  1839               Berkshire Hathaway   founder             Finance  83    male   United States       founder non-finance  58.2
4      Theo and Karl Albrecht  1996  1913                        Aldi Nord  Relation           groceries   0    male         Germany                 inherited   9.0
5              Christy Walton  2014  1962                          Walmart  relation              retail  59  female   United States                 inherited  36.7
...                       ...   ...   ...                              ...       ...                 ...  ..     ...             ...                       ...   ...
2073              Wu Chung-Yi  2014  1991                           Tingyi  investor  beverages and food  55    male          Taiwan                 executive   1.0
2074                 Wu Xiong  2014  1999  Biostime International Holdings     owner      infant formula   0    male           China                 executive   1.0
2075                Yang Keng  2014     0                    Blue Ray Corp  chairman         real estate  53    male           China         self-made finance   1.0
2076            Zdenek Bakala  2014  1994                   Patria Finance   founder                coal  53    male  Czech Republic  privatized and resources   1.0
2077              Zhu Wenchen  2014  1999       Furen Pharmaceutical Group  chairman     pharmaceuticals  48    male           China                 executive   1.0

[2077 rows x 11 columns]

* ### There is a bad news, It's a Old dataset anyway no going back lets finish this quickly 
### lets give meaning full header name with full form

In [14]:
clean_data.rename(columns = {'year':'data_collected_year', 'CR':'company_relationship', 'CT':'company_type', 'DA':'age', 'DG':'gender', 'CS':'company_sector',
                           'WWIB':'wealth_worth_in_billions', 'WHI':'wealth_how_inherited', 'LC':'citizenship', 'wealth.type':'wealth_type',
                           'CF':'company_founded', 'company.name':'company_name' }, inplace = True)
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 3)

clean_data

               name            data_collected_year  company_founded           company_name           company_relationship    company_sector    age  gender   citizenship          wealth_type         wealth_worth_in_billions
Rank
1                  Bill Gates         2014               1975                              Microsoft        founder                  Software  58     male   United States       founder non-finance            76.0
2     Oeri Hoffman and Sacher         1996               1896                   F. Hoffmann-La Roche            NaN           pharmaceuticals   0      NaN     Switzerland                 inherited            13.1
3              Warren Buffett         2014               1839                     Berkshire Hathaway        founder                   Finance  83     male   United States       founder non-finance            58.2
4      Theo and Karl Albrecht         1996               1913                              Aldi Nord       Relation                 groceries   0     male         Germany                 inherited             9.0
5              Christy Walton         2014               1962                                Walmart       relation                    retail  59   female   United States                 inherited            36.7
...                       ...                  ...              ...                              ...                  ...                 ...  ...     ...             ...                       ...                       ...
2073              Wu Chung-Yi         2014               1991                                 Tingyi       investor        beverages and food  55     male          Taiwan                 executive             1.0
2074                 Wu Xiong         2014               1999        Biostime International Holdings          owner            infant formula   0     male           China                 executive             1.0
2075                Yang Keng         2014                  0                          Blue Ray Corp       chairman               real estate  53     male           China         self-made finance             1.0
2076            Zdenek Bakala         2014               1994                         Patria Finance        founder                      coal  53     male  Czech Republic  privatized and resources             1.0
2077              Zhu Wenchen         2014               1999             Furen Pharmaceutical Group       chairman           pharmaceuticals  48     male           China                 executive             1.0

[2077 rows x 11 columns]

In [15]:
clean_data.to_csv(r"C:\\Users\\Magic\\Documents\\data analyst finished_data\\Billionaires.csv")